<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: currentColor;">
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard">Restaurant Management System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/acount">Home</a></li>
            <li ><a href="/personl">My Slot</a></li>
            <li ><a href="/personl">My Orders</a></li>
                <li><a href="/logout">Logout</a></li>
          </ul>
          <div class="navbar-header" style="float: right;"> <a class="navbar-brand" href="#">Loggedin As: <% if(loginUser){ %> <%= loginUser  %> <% } %></a></div>
        </div>
      </nav>
      
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                <%= title %>
            </h2>
            <div id="signupbox" style="margin-top:50px"
                class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title"> My Details </div>
                    </div>
                    <div class="panel-body">
                      
                               
                                    
                                    <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">User Name</label>
                                        <div class="col-md-9">
                                            <p>Vikram</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-md-3 control-label">Email</label>
                                        <div class="col-md-9">
                                           <p>real@gmail.com</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-md-3 control-label">Phone Number</label>
                                        <div class="col-md-9">
                                           <p>9556867846</p>
                                        </div>
                                    </div>


                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
