<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="login.css">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <title>LoginPage</title>
</head>
<body>
    <div class="container">
        <div class="lforms">
            <div class="form login">
                <button><a href="/login">User</a></button>
                <button><a href="/workerlogin">Worker</a></button>
                
                <form action="/workerlogin" name="myForm"  method="post">
                    <% if(msg !=''){ %>
                        <div id="signupalert"  class="alert alert-danger">
                           <p style="text-align: center;color:red;"><%= msg %></p>
                        </div>
                            <% } %>
                    <div class="input-field">
                        <input type="text" name="username" placeholder="Enter your username" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    
                    <div class="input-field">
                        <input type="password" class="password" name="password" placeholder="Enter your password" required>
                        <i class="uil uil-lock icon "></i>
                        <i id="eye" class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>

                        <a href="/forget" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login" id="btn" onclick="return confirm('Welcome to the Restaurant Management System!')">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?</span>
                    <a href="/register" class="text signup-link">SignUp now</a>
                </div>
            </div>            

           </div>
           </div>
    </div>
<script>
   const container = document.querySelector(".container"),
      pwShowHide = document.querySelectorAll(".showHidePw"),
      pwFields = document.querySelectorAll(".password");
    
    //   js code to show/hide password and change icon
    pwShowHide.forEach(eyeIcon =>{
        eyeIcon.addEventListener("click", ()=>{
            pwFields.forEach(pwField =>{
                console.log("pwField",pwField)
                if(pwField.type ==="password"){
                    pwField.type = "text";

                    pwShowHide.forEach(icon =>{
                        icon.classList.replace("uil-eye-slash", "uil-eye");
                    })
                }else{
                    pwField.type = "password";

                    pwShowHide.forEach(icon =>{
                        icon.classList.replace("uil-eye", "uil-eye-slash");
                    })
                }
            }) 
        })
    })

</script>

</body>
</html>
