<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
</head>
<body>
   
  
<div class="container">
  <div class="row">
      <h1>Product Category Lists</h1>
      <br>
   <table class="table table-striped table-primary">
    <thead>
      <tr>
        <th>User Name</th>
         <th>Product Name</th>
         <th>Product Quantity</th>
         <th>Product Price</th>
        
      </tr>
    </thead>
    <tbody>
     <% if(records.length >0){
      records.forEach(function(row){
      %>
      <tr>
        <td>
            <%= row.username %>
        </td>
        <td>
            <%= row.pname %>
        </td>
        <td>
            <%= row.qty %>
        </td>
        <td>
            <%= row.pprice %>
        </td>
    
      </tr>
      <%  }) } %>
    </tbody>
  </table>
</div>
</div>


  
</body>
</html>